$white: white;
$black: black;

$peru: #bf683e;
$dark-khaki: #bf8c63;
$rosy-brown: #c1a289;
$beige: #f4ede6;
$dark-slate-gray: #29454a;

$text: $dark-slate-gray;
$text-i: $beige;
$bg: $beige;
$bg-i: $dark-slate-gray;
